<br>
					<h1 class="f2">Events</h1>
					<p class="f3">It is time to awaken the competitor in you for it is that time of the year when competition literally lingers in the air! Brace yourselves for 4 whole days of diverse events and contagious enthusiasm. Engineering, Management, Coding, Robotics, Online events, Quizzes. Name your category and you have it here.<br><br>
					At Kurukshetra, everybody has an event to bring out the best in them. Compete with some of the brightest minds at the battleground and make it your day.<br><br>

Get ready to find your way to laurels&nbsp;in the maze of events!</p>
